
<section class="footer">
    <h4>About Us</h4>
    <p>Sparks Donation is a non-governmental organisation to help children acquire basic needs. We are proudly non-profit, non-corporate, non-compromised. 
        <br>Thousands of people like you help us stand up for better future of younger generations.</p>
        <div class="icons">
            <a href="https://www.facebook.com/satya.rajpoot.9/" target="_blank">
                <i class="fa fa-facebook"></i>
                </a>
                <i class="fa fa-twitter"></i>
                <a href="https://www.instagram.com/a.lost_soul7/" target="_blank">
                <i class="fa fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/satyam-kushwaha/" target="_blank">
                <i class="fa fa-linkedin"></i>
                </a>
        </div>
        <p>Made with <i class="fa fa-heart-o"></i> by Satyam</p>
</section>